* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    background-color: #000000;
}

.page1 {
    min-height: 100vh;
    width: 100%;
}

#nav {
    height: 50px;
    width: 100%;
    /* background-color: brown; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
}

#navpart2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

#navpart2 h4 {
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

#navpart3 {
    height: 15px;
    width: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;

}

#nav h4:nth-child(1) {
    border-bottom: 2px solid white;
}

#nav img {
    height: 20px;
}

.page1 h1 {
    font-size: 8vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    margin-top: 9vw;
    margin-left: 7vw;
}

.page1 h2 {
    font-size: 7vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    margin-left: 30vw;
}

.page1 video {
    width: 60%;
    margin-top: 10vw;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0)
}

.page2 {
    min-height: 130vh;
    width: 100%;
    padding: 100px 5vw;
}

.page2-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60vh;
    width: 100%;
    margin-top: 8vh;
    gap: 30vw;
    /* background-color: brown; */
}

.page2 h1 {
    font-size: 12vh;
    font-weight: 500;
    color: black;
}

.page2-left {
    /* background-color: blue; */
    width: 30%;
}

.page2-right {
    /* background-color: blue; */
    width: 30%;
}

.page2-left h2 {
    font-weight: 100;
    font-size: 3.5vw;
    line-height: 3.6vw;
    color: black;
}

.page2-right p{
    font-size: 1.8vw;
    font-weight: 100;
    color: black;
}

.page2-right button{
    width: 100%;
    border-radius: 50px;
    border: none;
    padding: 4px 0;
    background-color: #edbfff;
    color: black;
    margin-top: 5%;
}

.page3{
    height: 100vh;
    width: 100%;
}